* {
    margin: 0;
    padding: 0;
}
table {
    font-size: 1.7em;
    border-collapse: collapse;
    margin: 25px auto;
    width: 70%;
}
th, td {
    border: 2px solid white;
    padding: 10px;
    text-align: center;
}
th.head-fila {
    background-color: rgb(225,225,225);
}
.programacion {
    width: 50%;
}
.head-paquete, .head-paquete-sub {
    background: darkcyan;
    color: white;
    font-weight: 900;
}
.head-paquete {
     border-top-left-radius: 20px;
     border-bottom: 2px solid darkcyan;
}

.head-programacion, .head-programacion-sub {
    background: rgb(12,155,76);
    color: white;
    font-weight: 900;
}
.head-basic, .head-basic-sub {
    background: rgb(66,167,255);
    color: white;
    font-weight: 900;
    border-bottom: 2px solid rgb(66,167,255);
}
.head-basic-sub {
    font-size: .7em;
    padding: 0;
    border-top: 2px solid darkcyan;
}
td {
    background: rgb(225,225,225);
}
.borde-inferior-izquierdo {
    border-bottom-left-radius: 20px;
}
